.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.screen-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stock-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stock-info-short{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qty-input{
    margin: 1em;
    padding: .5em;
}
.buy-btn{
    margin: 1em;
    padding: .5em;
}
.login-header {
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input {
    margin: 0.25em 0;
}
.login-submit-button {
    margin: 0.25em 0;
}
.signup-header {
    text-align: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-input {
    margin: 0.25em 0;
}
.signup-submit-button {
    margin: 0.25em 0;
}
.signup-terms-of-service {
    text-align: center;
}